@{
    ViewData["Title"] = "Home Page";
}



<div class="jumbotron">
        <h1 class="display-4">Natural by Design</h1>
        <p class="lead">Welcome to the Natural by Design page</p>
        <hr class="my-4">

</div>






